/* ================================================================================== Popular Packages */
.popular-items .icon-container > .img {
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    position: relative;
    border-radius: 1.1em;
    overflow: hidden;
}
.popular-items .icon-container > .img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0;
}
.popular-items .icon-container > .img::after {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 1em 1.5em;
    font-size: 1.5em;
    font-weight: 300;
    letter-spacing: 0.05em;
    opacity: 0;
}
/* ------------------------------------------------------------------ City Names */
.popular-items .icon-container > .img:nth-child(1):after { content: 'Lahore'; }
.popular-items .icon-container > .img:nth-child(2):after { content: 'Karachi'; }
.popular-items .icon-container > .img:nth-child(3):after { content: 'Islamabad'; }
.popular-items .icon-container > .img:nth-child(4):after { content: 'Lahore'; }
.popular-items .icon-container > .img:nth-child(5):after { content: 'Lahore'; }
.popular-items .icon-container > .img:nth-child(6):after { content: 'Lahore'; }
.popular-items .icon-container > .img:nth-child(7):after { content: 'Lahore'; }
.popular-items .icon-container > .img:nth-child(8):after { content: 'Lahore'; }
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Show City Name */
.popular-items .icon-container > .img:hover::before { opacity: 0.6;}
.popular-items .icon-container > .img:hover::after { opacity: 1;}

/* ================================================================================== Popular Services */
.popular-items.sm .icon-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;
    font-size: max(1vw, 0.85em);
}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1024px) {
    .popular-items.sm .icon-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 3em;
    }
}
@media screen and (max-width: 768px) {
    .popular-items .icon-container > .img::after {
        font-size: max(2vw, 1.2em);
    }
}
@media screen and (max-width: 425px) {
    .popular-items.sm .icon-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3em;
        font-size: 0.9em;
    }
}