.faqs {
    background-color: #F5F5F5;
    padding-top: 3em;
    padding-bottom: 4.5em;
}
.faqs .section-title,
.faqs > .body {
    text-align: center;
}

.faqs #faqs {
    margin-top: 2em;
    border: 0.1em solid #707070b9;
}
.faqs #faqs .card {
    padding: 1em;
    margin: 0;
    border-radius: 0%;
    border: none;
    border-bottom: 0.05em solid #70707036;
}
.faqs #faqs .card:last-child { border-bottom: none;}
.faqs #faqs .card a {
    display: grid;
    grid-template-columns: 1fr 1em;
}
.faqs #faqs .card a .body {
    font-weight: 500;
    padding-right: 1em;
}
.faqs #faqs .card a .img {
    width: 1em;
    height: fit-content;
    font-size: 1em;
}
.faqs #faqs .card .collapse .body {
    width: calc(100% - 2em);
    padding-left: 1em;
}