.maintaince.custom-carousel {
    font-size: var(--ratio);
    margin-bottom: 5em;
}
.maintaince.custom-carousel .navigation-container {
    box-shadow: none;
    padding: 0 var(--mainContainerPadding);
    margin-bottom: 1.5em;
}
.maintaince.custom-carousel .navigation-container .tab-container {
    justify-content: start;
    padding: 0;
}
.maintaince.custom-carousel .content {
    font-size: 1em;
    position: relative;
    padding: 1em;
    padding-left: 0;
    height: fit-content !important;
}
.maintaince.custom-carousel .content > .img {
    position: absolute;
    width: max(38vw, 32.5em);
    height: auto;
    top: 4em;
}
.maintaince.custom-carousel .content > .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.maintaince.custom-carousel .content .list-container {
    font-size: 1em;
    background-color: #F9F9F9;
    border-radius: 1em;
    box-shadow: var(--shadow);
    padding: 3em;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    width: 85%;
    margin-left: 15%;
    padding-right: max(3vw,1em);
}
.maintaince.custom-carousel .content .list-container .section-title {
    margin-bottom: 0.5em;
}
.maintaince.custom-carousel .content .list-container .icon-box {
    margin: 1em 0;
}
.maintaince.custom-carousel .content .list-container .icon-box:last-child { margin-bottom: 0;}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1100px) {
    .maintaince.custom-carousel .content .list-container {
        grid-template-columns: 1.5fr 0.75fr;
        padding-right: 1.25em;
    }
}
@media screen and (max-width: 1024px) {
    .removeAfter1024 { display: none;}
    .maintaince.custom-carousel .content > .img {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }
    .maintaince.custom-carousel .content { padding-left: 1em;}
    .maintaince.custom-carousel .content .list-container {
        grid-template-columns: 1fr;
        width: 100%;
        padding-right: max(3vw,1em);
        margin: 2em 0 0 0;
    }
    .maintaince.custom-carousel .content .list-container div:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .maintaince.custom-carousel .content .list-container div:nth-child(2) .section-title { width: 100%;}
    .maintaince.custom-carousel .content .list-container div:nth-child(2) .icon-box { margin: 1em 1.5em 1em 0;}

}
@media screen and (max-width: 768px) {

}
.different-maintaince {
    font-size: var(--ratio);
    padding: 0 var(--mainContainerPadding);
    margin-top: 6em;
}
.different-maintaince.first {
    margin-top: max(7vw, 4em);
}

.different-maintaince .info-container {
    font-size: 1em;
    display: grid;
    grid-template-columns: minmax(0,1fr) minmax(0,1fr);
    grid-template-areas: 'img txt1' 'img txt2';
    margin-top: 3em;
    gap: 3em;
}
.different-maintaince:nth-child(odd) .info-container { grid-template-areas: 'txt1 img' 'txt2 img'; }
.different-maintaince .info-container .img { grid-area: img;}
.different-maintaince .info-container .txt-container:nth-child(1) { grid-area: txt1;}
.different-maintaince .info-container .txt-container:nth-child(2) { grid-area: txt2;}

.different-maintaince .info-container .img {
    width: 100%;
    height: 100%;
    font-size: 1em;
}
.different-maintaince .info-container .txt-container {
    padding: 1.5em;
    box-shadow: var(--shadow);
    border-radius: 0.5em;
}
.different-maintaince .info-container .txt-container .heading {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    line-height: 1.7em;
}

@media screen and (max-width: 1440px) {
    .different-maintaince .info-container {
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
        grid-template-areas: 'img txt1' 'txt2 txt2';
    }
    .different-maintaince:nth-child(odd) .info-container { grid-template-areas: 'txt1 txt1' 'txt2 img'; }
}
@media screen and (max-width: 1024px) {
    .different-maintaince .info-container {
        grid-template-columns: minmax(0,1fr) minmax(0,1fr);
        grid-template-areas: 'img img' 'txt1 txt2';
    }
    .different-maintaince:nth-child(odd) .info-container { grid-template-areas: 'img img' 'txt1 txt2'; }
}
@media screen and (max-width: 768px) {
    .different-maintaince .info-container {
        grid-template-columns: minmax(0,1fr);
        grid-template-areas: 'img' 'txt1' 'txt2';
    }
    .different-maintaince:nth-child(odd) .info-container { grid-template-areas: 'img' 'txt1' 'txt2'; }
}
.join {
    font-size: var(--ratio);
    padding: 0 var(--mainContainerPadding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join .body {
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}
.join .section-title {
    margin: 0.75em 0 1.25em 0;
    font-size: max(2.8vw, 2em);
    text-align: center;
}
.join button {
    margin-top: 2.5em;
}
.landing-with-header .txt-container.withImage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: center;
}
.landing-with-header .txt-container.withImage .img-box {
    position: relative;
    width: 100%;
    height: max(25vw, 15em);
    padding: max(2.5vw, 1em);
}
.landing-with-header .txt-container.withImage .img-box::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background-image: url("../../assets/images/design-icons/border-half-square.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.landing-with-header .txt-container.withImage .img-box::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background-image: url("../../assets/images/design-icons/border-half-square.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.landing-with-header .txt-container.withImage .img-box .img {
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 1em;
}
@media screen and (max-width: 1024px) {
    .landing-with-header .txt-container.withImage {
        grid-template-columns: 1fr;
    }
    .landing-with-header .txt-container.withImage .img-box {
        height: max(50vw, 22em);
        padding: max(4.5vw, 1em);
    }
}
.package.custom-carousel-2 {
    display: flex;
    position: relative;
    margin: 8em 0 7em 0;
}
.package.custom-carousel-2 .arrow-btn {
    display: flex;
    align-items: center;
    width: 2em;
    font-size: 1em;
    cursor: pointer;
}
.package.custom-carousel-2 .arrow-btn.rhs { transform: rotate(180deg);}
.package.custom-carousel-2 .arrow-btn.disabled { opacity: 0.6; }

.package.custom-carousel-2 .content-container {
    width: calc(100% - 4em);
    padding: 0 2em;
    overflow: hidden;
}
.package.custom-carousel-2 .content-container .moving-wrapper {
    display: flex;
    position: relative;
    left: 0;
    overflow: scroll;
}
.package.custom-carousel-2 .content-container .moving-wrapper .content.img {
    min-width: 8em;
    max-width: 8em;
    width: 8em;
    height: fit-content;
    font-size: 1em;
    margin-right: 4em;
}
 