.download-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'appImg appTxt' 'appImg appEle';
    font-size: var(--ratio);
    justify-items: center;
    position: relative;
    padding: 2em;
    margin-left: var(--mainContainerPadding);
    margin-right: var(--mainContainerPadding);
    text-align: left;
    gap: 2em;
    margin-top: 10em;
}
.download-section:after {
    content: '';
    width: 15em;
    height: 15em;
    top: 0;
    left: 0;
    position: absolute;
    background-image: url('../../../assets/images/design-icons/border-half-square.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.download-section:before {
    content: '';
    width: 15em;
    height: 15em;
    bottom: 0;
    right: 0;
    position: absolute;
    background-image: url('../../../assets/images/design-icons/border-half-square.png');
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
}
/* ================================================================================== Image */
.download-section .img-container {
    width: 23em;
    height: 30em;
    font-size: 1em;
    background-image: url('../../../assets/images/page-home/download-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    overflow: hidden;
    grid-area: appImg;
}
/* ================================================================================== Text */
.download-section .text-container {
    font-size: 1em;
    grid-area: appTxt;
    align-self: flex-end;
    justify-self: center;
    padding-right: 2em;
}
.download-section .text-container .section-title {
    text-align: left;
}
/* ------------------------------------------------------------------ Body */
.download-section .text-container .body {
    font-size: 1em;
    font-weight: 300;
    line-height: 2em;
    margin: 1em 0 0 0;
}
/* ================================================================================== Usable Elements */
.download-section .usable-elements-container {
    font-size: 1em;
    grid-area: appEle;
    align-self: flex-start;
    width: 100%;
    padding-right: 3em;
}
/* ------------------------------------------------------------------ Phone */
.download-section .usable-elements-container .phone-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid lightgray;
    width: 100%;
    padding: 0;
    border-radius: 0.25em;
    overflow: hidden;
    margin: 0 0 2em 0;
    font-size: 1em;
}
/* ................................................. Fixed */
.download-section .usable-elements-container .phone-box .fixed {
    border-right: 1px solid lightgray;
    height: 100%;
    padding: 0.5em;
    color: gray;
    font-size: 1em;
    width: 3em;
}
/* ................................................. Input */
.download-section .usable-elements-container .phone-box input {
    border: none;
    padding: 0.5em;
    font-size: 1em;
    width: calc(100% - 8em - 3em)
}
/* Chrome, Safari, Edge, Opera */
.download-section .usable-elements-container .phone-box input::-webkit-outer-spin-button,
.download-section .usable-elements-container .phone-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.download-section .usable-elements-container .phone-box input[type=number] {
  -moz-appearance: textfield;
}
/* Chrome/Opera/Safari */
.download-section .usable-elements-container .phone-box ::-webkit-input-placeholder { font-size: 1em; }
/* Firefox 19+ */
.download-section .usable-elements-container .phone-box ::-moz-placeholder { font-size: 1em; }
/* IE 10+ */
.download-section .usable-elements-container .phone-box :-ms-input-placeholder { font-size: 1em; }
/* Firefox 18- */
.download-section .usable-elements-container .phone-box :-moz-placeholder { font-size: 1em; }
/* ................................................. Button */
.download-section .usable-elements-container .phone-box button {
    padding: 0;
    border-radius: 0;
    padding: 0.5em;
    margin: 0;
    font-size: 1em;
    letter-spacing: initial;
    width: 8em;
}
/* ------------------------------------------------------------------ App */
.download-section .usable-elements-container .app-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}
.download-section .usable-elements-container .app-container .app {
    width: calc(8em * 1.5);
    height: calc(3em * 1.5);
    font-size: 1em;
}
.download-section .usable-elements-container .app-container .app:nth-child(1) { margin-right: 1em;}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1440px) {
    .download-section .usable-elements-container .app-container {
        font-size: 1.075vw;
    }
    .download-section .text-container {
        padding-right: 0.8vw;
    }
    .download-section .usable-elements-container {
        padding-right: 1.8vw;
    }
}

@media screen and (max-width: 1024px) {
    .download-section .usable-elements-container .app-container .app {
        font-size: 1em;
    }
    .download-section {
        grid-template-columns: 100%;
        grid-template-areas: 'appTxt' 'appImg' 'appEle';
        padding: 3em;
    }
    .download-section .text-container,
    .download-section .usable-elements-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .download-section .usable-elements-container .app-container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }
    .download-section .usable-elements-container .app-container .app:first-child {
        margin-right: 2em;
        margin-bottom: 0;
    }
}
@media screen and (max-width: 768px) {
    .download-section {
        margin-top: 6.5em;
    }
}

@media screen and (max-width: 510px) {
    .download-section .usable-elements-container .app-container .app {
        font-size: max(2.5vw,0.75em);
    }
    .download-section .img-container {
        width: 23em;
        height: 27em;
    }
}
@media screen and (max-width: 425px) {
    .download-section .usable-elements-container .app-container {
        flex-direction: column;
        justify-content: space-between;
    }
    .download-section .usable-elements-container .app-container .app:first-child {
        margin-right: 0;
        margin-bottom: 0.75em;
    }
    .download-section .usable-elements-container .app-container .app {
        font-size: 1em;
    }
}