.package {
    font-size: var(--ratio);
    width: 100%;
    margin-bottom: 5em;
}

/* ================================================================================== Content */
.package .content {
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    height: fit-content !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2em;
    font-size: 1em;
    padding-left: 0.5em;
}
/* ------------------------------------------------------------------ Text Container */
.package .content .text-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 1em;
    height: fit-content;
}
/* ................................................. Title */
.package .content .text-container .section-title {
    text-align: left;
    height: fit-content;
    width: fit-content;
    margin-bottom: 0;
}
/* ................................................. Body */
.package .content .text-container .body {
    height: fit-content;
    width: fit-content;
    margin: 2em 0;
    font-size: 1em;
}
/* ................................................. List */
.package .content .text-container .list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    font-size: 1em;
}
.package .content .text-container .list .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    font-size: 1em;
}
.package .content .text-container .list .icon-box .icon {
    min-width: 2em;
    width: 2em;
    max-width: 2em;
    min-height: 2em;
    height: 2em;
    max-height: 2em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Last Child */
.package .content .text-container .list .icon-box:last-child{
    margin-bottom: 0;
}
/* ------------------------------------------------------------------ Items Container */
.package .content .item-container {
    display: flex;
    align-items: center;
    font-size: 1em;
    justify-content: center;
    height: fit-content;
}
/* ------------------------------------------------------------------ Carousel */
#packCarousel {
    height: fit-content;
    width: 100%;
    font-size: 1em;
    padding-bottom: 2.25em;
    position: relative;
}
/* ................................................. Indicators */
#packCarousel .carousel-indicators {
    padding: 0;
    height: fit-content;
    bottom: -1em;
    font-size: 1em;
    z-index: 2;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dots */
#packCarousel .carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 1em;
    background-color: lightgray;
}
/* ................................................. Carousel Contemt */
#packCarousel .carousel-inner {
    height: 100%;
    width: 100%;
    font-size: 1em;
    position: relative;
    padding: 1em 0.5em;
}
#packCarousel .carousel-inner::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    background-image: url("../../../assets/images/design-icons/border-half-square.png");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
#packCarousel .carousel-inner::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    background-image: url("../../../assets/images/design-icons/border-half-square.png");
    background-size: contain;
    background-repeat: no-repeat;
}
#packCarousel .carousel-inner .carousel-item {
    height: 100%;
    width: 100%;
    padding-right: 0.8em;
    font-size: 1em;
}
#packCarousel .carousel-inner .carousel-item .img {
    width: 100%;
    height: 100%;
    background-color: gray;
    border-radius: 1em;
    position: relative;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Image */
#packCarousel .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    font-size: 1em;
}
/* ------------------------------------------------------------------ Icon Grid 4 */
.package .content .item-container .grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2em;
    font-size: max(0.9vw,0.8em);
}
/* ------------------------------------------------------------------ Image Container Grid 2 */
.package .content .item-container .grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    font-size: max(0.9vw,0.85em);
}
/* ................................................. Box */
.package .content .item-container .grid-2 .img-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    font-size: 1em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Img */
.package .content .item-container .grid-2 .img-box .img {
    width: 3em;
    height: 3em;
    grid-area: iconImg;
    margin-right: 1em;
    font-size: 1em;
    align-self: flex-end;
}
.package .content .item-container .grid-2 .img-box .img img {
    object-fit: contain;
    font-size: 1em;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Heading */
.package .content .item-container .grid-2 .img-box .heading {
    grid-area: heading;
    height: fit-content;
    align-self: flex-end;
    width: calc(100% - 5em);
    font-size: 1.1em;
    font-weight: 600;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Body */
.package .content .item-container .grid-2 .img-box .body {
    grid-area: bdy;
    width: 100%;
    margin-top: 0.5em;
    font-size: 0.95em;
    font-weight: 300;
}
.package .content > a {
    grid-column: 1 / span 2;
}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1024px) {
    .package .content { grid-template-columns: 1fr; margin-top: 3em;}
    .package .content > a {
        grid-column: initial;
    }
    #packCarousel .carousel-inner {
        padding: 1.3em 0.5em;
    }
}
@media screen and (max-width: 768px) {
    .package .content .item-container .grid-2 { font-size: 1em; }
}
@media screen and (max-width: 425px) {
    .package .content .text-container .list .icon-box .icon {
        min-width: 1.75em;
        width: 1.75em;
        max-width: 1.75em;
        min-height: 1.75em;
        height: 1.75em;
        max-height: 1.75em;
    }
    .package .content { margin-top: 2em;}
    #packCarousel { padding-bottom: 3em; }
    #packCarousel .carousel-inner .carousel-item { padding-right: 0.48em; }
    .package .content .item-container .grid-4 {
        grid-template-columns: 1fr 1fr 1fr;
        font-size: max(2.75vw, 0.85em);
    }
    .package .content .item-container .grid-2 {
        grid-template-columns: 1fr;
        font-size: 1em;
    }
    .package .content .item-container .grid-2 .img-box .body {
        margin-top: 0.75em;
    }
    #packCarousel .carousel-inner {
        padding: 1em 0.5em 1em 0.55em;
    }
}
