/* ================================================================================== Review */
.review-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'busi csl csl';
    gap: 2em;
    box-shadow: var(--shadow);
    padding: 3em;
    font-size: var(--ratio);
    margin-left: var(--mainContainerPadding);
    margin-right: var(--mainContainerPadding);
    margin-top: 7em;
}
/* ------------------------------------------------------------------ Controls */
.before768 { display: block;}
.after768 { display: none;}
/* ------------------------------------------------------------------ Business */
.review-container .business-box {
    grid-area: busi;
    font-size: 1em;
}
/* ................................................. Icons */
.review-container .business-box .icon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin-top: 1.5em;
    font-size: 1em;
}
.review-container .business-box .icon-container .icon {
    height: max(8vw,5em);
    font-size: 1em;
    background-image: url('../../../assets/images/page-home/sponser-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* ------------------------------------------------------------------ Carousel */
.review-container .carousel-container {
    font-size: 1em;
    height: auto;
    grid-area: csl;
    font-size: 1em;
}
/* ................................................. Dots */
.review-container .carousel-indicators li {
    width: 12.5px;
    height: 12.5px;
    border-radius: 100%;
    background-color: lightgray;
    position: relative;
    top: 1.5em;
    font-size: 1em;
}
/* ................................................. Frame */
.review-container .carousel-inner {
    width: 100%;
    height: 100%;
    font-size: 1em;
}
.review-container .carousel-item {
    width: inherit;
    height: inherit;
    font-size: 1em;
}
/* ................................................. Content */
.review-container .carousel-item .customer-reviews {
    width: inherit;
    height: inherit;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1em;
}
.carousel-item .customer-reviews .review-box {
    border: 1px solid rgb(228, 228, 228);
    padding: 2em;
    margin: 2em 0;
    width: 48%;
    font-size: 1em;
    border-radius: 0.5em;
}
.carousel-item .customer-reviews .review-box .img-container {
    position: absolute;
    top: 0;
    width: 5.1em;
    height: 5em;
    font-size: 1em;
}
.carousel-item .customer-reviews .review-box .name {
    margin-top: 1.25em;
    font-size: 1.5em;
    font-weight: 600;
}
.carousel-item .customer-reviews .review-box .sub-body {
    font-size: 1em;
    color: rgb(158, 158, 158);
    margin: 0.5em 0;
    font-weight: 300;
}
.carousel-item .customer-reviews .review-box .body {
    font-size: 1em;
    margin: 0 0 0.5em 0;
    font-weight: 300;
}
.carousel-item .customer-reviews .review-box .rating {
    height: 2em;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1em;
}
.carousel-item .customer-reviews .review-box .rating .star {
    width: 1em;
    height: 1em;
    font-size: 1em;
    margin-right: 0.5em;
    background-image: url("../../../assets/images/design-icons/star-red.svg");
}
.carousel-item .customer-reviews .review-box .rating .star:last-child {
    margin-right: 0;
}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1200px) {
    .review-container {
        grid-template-columns: 1fr ;
        grid-template-areas: 'busi' 'csl';
    }
    .review-container .business-box .icon-container {
        grid-template-columns: repeat(6,1fr);
    }
}
@media screen and (max-width: 1024px) {
    .review-container .carousel-item .customer-reviews .review-box .body {
        font-size: 1em;
        margin: 0 0 0.5em 0;
    }
}
@media screen and (max-width: 768px) {
    .review-container .business-box .icon-container {
        grid-template-columns: repeat(3,1fr);
    }
    .before768 { display: none;}
    .after768 { display: block;}
    .review-container .carousel-item .customer-reviews .review-box { width: 100%; }
    .review-container {
        margin-top: 4em;
    }
}
@media screen and (max-width: 425px) {
    .review-container .business-box .icon-container {
        grid-template-columns: repeat(3,1fr);
    }
    .review-container {
        box-shadow: none;
        padding: 0;
    }
    .carousel-item .customer-reviews .review-box .name {
        margin-top: 1.25em;
        font-size: 1.25em;
        font-weight: 600;
    }
    .review-container .carousel-indicators li {
        top: 2em;
    }
}
