.solution {
    font-size: var(--ratio);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8em;
}
/* ================================================================================== Solutions */
.solution .solutions-container {
    background-image: url('../../../assets/images/page-home/fleet-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0.5em var(--mainContainerPadding);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1em;
    margin-bottom: 4em;
}
/* ------------------------------------------------------------------ Text */
.solution .solutions-container .text-container {
    font-size: 1em;
    width: min(70vw, calc(100% - 35em));
}
/* ................................................. Heading */
.solution .solutions-container .text-container .heading {
    font-size: 2em;
    font-weight: 500;
}
/* ................................................. Body */
.solution .solutions-container .text-container .body {
    font-size: 1em;
    margin-top: 1em;
    font-weight: lighter;
}
.solution .solutions-container .text-container .body p {
    font-size: 1em;
}
/* ................................................. Phone */
.solution .solutions-container .text-container .phone {
    font-size: 1.4em;
    font-weight: 500;
    color: white !important;
    text-decoration:none;
}
/* ................................................. Button */
.solution .solutions-container .text-container button {
    margin-top: 1em;
}
/* ------------------------------------------------------------------ Image */
.solution .solutions-container .img-container {
    width: 30em;
    height: 30em;
    background-color: white;
    border-radius: 100%;
    border: 0.5em solid var(--accentColor);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: initial;
    padding: 1em;
}
.solution .solutions-container .img-container img { 
    object-fit: contain; 
    width: 100%;
    height: 100%;
}
/* ================================================================================== Section Title */
.solution .section-title {
    padding: 0 var(--mainContainerPadding);
    margin-top: 0.5em;
}
/* ================================================================================== Car Models */
.solution .car-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4em 2em;
    padding: 0 var(--mainContainerPadding);
    margin-top: 3em;
    align-self: stretch;
    justify-items: center;
    font-size: 1em;
}
.solution .car-container .car-box {
    display: flex;
    flex-direction: column;
    border-radius: 0.25em;
    font-size: max(1vw,0.8em);
    width: 10em;
    font-size: 1em;
    transform: scale(1);
}

/* ------------------------------------------------------------------ Removing Car Boxes */
.solution .car-container .car-box.hideAfter1440px { display: block;}
.solution .car-container .car-box.hideAfter940px { display: block;}
.solution .car-container .car-box.hideAfter615px { display: block;}

.solution .car-container .car-box .icon{
    width: 100%;
    height: max(5vw, 5em);
    font-size: 1em;
}
.solution .car-container .car-box .icon img {
    object-fit: contain;
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    opacity: 0.3;
}
.solution .car-container .car-box button{
    background-color: white;
    width: 100%;
    height: 2em;
    padding: 0;
    margin-top: 1em;
    border: 2px solid darkgray;
    color: darkgray;
    border-radius: 2em;
    font-size: 1em;
    cursor: initial;
}
.solution .car-container .car-box:hover {
    transform: scale(1.1);
}
.solution .car-container .car-box:hover .icon img {
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
    opacity: 1;
}
.solution .car-container .car-box:hover button{
    background-color: var(--accentColor);
    border: 2px solid var(--accentColor);
    color: white;
    font-weight: 400;
}

/* ================================================================================== Button */
.solution > button {
    margin-top: 4em;
}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1550px) {
    .solution .car-container .car-box {
        width: 8em;
    }
    .solution .car-container .car-box button{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 1440px) {
    .solution .car-container {
        grid-template-columns: repeat(4, 1fr);
        gap: 3em;
    }
    .solution .car-container .car-box {
        width: 10em;
    }
    .solution .car-container .car-box button{
        font-size: 1em;
    }
    .solution .car-container .car-box.hideAfter1440px { display: none;}
}

@media screen and (max-width: 1080px) {
    .solution .car-container .car-box {
        width: max(14vw, 8em);
    }
    .solution .car-container .car-box button{
        font-size: max(1vw, 0.9em);
    }
}
@media screen and (max-width: 1024px) {
    .solution .solutions-container .text-container {  width: calc(100% - 21em); }
    .solution .solutions-container .img-container {
        width: 18em;
        height: 18em;
    }
}
@media screen and (max-width: 920px) {
    .solution .car-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .solution .car-container .car-box.hideAfter940px { display: none;}
    .solution .car-container .car-box {
        width: max(20vw, 8em);
    }
    .solution .car-container .car-box button{
        font-size: max(1.8vw, 0.9em);
    }
}
@media screen and (max-width: 768px) {
    .solution .solutions-container { flex-direction: column-reverse;  padding-top: 2em; padding-bottom: 2em;}
    .solution .solutions-container .text-container {
        width: 100%;
        margin-top: 1em;
    }
    .solution {
        margin-top: 5.5em;
    }
    .solution .car-container .car-box {
        width: max(23vw, 8em);
    }
    .solution .car-container .car-box button{
        font-size: max(2vw, 0.95em);
    }
}
@media screen and (max-width: 450px) {
    .solution .car-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .solution .car-container .car-box.hideAfter615px { display: none;}
    .solution .car-container .car-box {
        width: max(35vw, 8em);
    }
    .solution .car-container .car-box button{
        font-size: max(2vw, 0.95em);
    }
}
@media screen and (max-width: 425px) {
    .solution .solutions-container .img-container { display: none;}
    .solution .solutions-container .text-container { margin-top: -0.5em; }
    .solution .car-container .car-box {
        padding: 1em;
        box-shadow: var(--shadow);
        background-color: transparent;
    }
}
@media screen and (max-width: 375px) {
    .solution .car-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5em 2em;
    }
    .solution .car-container .car-box button{
        font-size: max(2vw, 0.9em);
    }
}