.item-details.para .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    padding-left: 0.8em;
    padding-top: 1em;
    font-size: 1em;
    align-items: center;
}
.item-details.para .info-container .body { grid-column: 1 / span 2; }
.item-details.para .info-container button { justify-self: start; width: 10em; padding-right: 0; padding-left: 0;}
.item-details.para .info-container .view-more { justify-self: end; align-self: center; }
@media screen and (max-width: 500px) {
    .item-details.para .info-container {
        grid-template-columns: 1fr;
        gap: 3em 1em;
        align-items: start;
    }
}
@media screen and (max-width: 424px) {
    .item-details.para .info-container {
        gap: 1.5em;
    }
    .item-details.para .info-container .view-more .icon { width: 2em;}
}
@media screen and (max-width: 375px) {
    .item-details.para .info-container button { grid-column: 1 / span 2;}
    .item-details.para .info-container .view-more { 
        grid-column: 1 / span 2; 
        justify-self: start; 
        justify-content: start;
        margin-top: 0;
        padding-left: 0.5em;
    }
}