.join {
    font-size: var(--ratio);
    padding: 0 var(--mainContainerPadding);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.join .body {
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}
.join .section-title {
    margin: 0.75em 0 1.25em 0;
    font-size: max(2.8vw, 2em);
    text-align: center;
}
.join button {
    margin-top: 2.5em;
}