table {
    border-collapse: collapse;
    border-radius: 0.5em;
    border-style: hidden; /* hide standard table (collapsed) border */
    box-shadow: 0 0 0 1px #7070705d; /* this draws the table border  */
    border-color: #7070705d;
    font-size: max(1vw, 0.7em);
}
.features.gray.tbl table {
    box-shadow: none;
    border-collapse: collapse;
}
.features.gray.tbl table th,
.features.gray.tbl table td {
    border: 0.1em solid #7070705d;; 
}
.features.gray.tbl table tr th:first-child td {
    border-left: 0;
}
.features.gray.tbl table tr:first-child td {
    border-top: 0;
}
.features.gray.tbl table tr td:first-child {
    border-left: 0;
}
.features.gray.tbl table tr:last-child td {
    border: 0;
}
.features.gray.tbl table tr td:last-child {
    border-right: 0;
}
table tr th { font-size: 1.1em; padding: 1em 2em;}
table tr td { font-size: 1em; padding: 1em 2em;}
table tr td .img { 
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    margin-left: calc(50% - (1.5em * 0.5));
}
table tr td button { 
    font-size: 0.9em; 
    width: 12em; 
    margin-left: calc(100% - 12em);
    margin-top: max(4vw,2em);
}

.features.gray.tbl .car-container {
    font-size: max(1vw, 0.8em);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin-bottom: 8em;
}
.features.gray.tbl .car-container .car-box {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25em 1.5em;
    align-items: center;
    justify-items: center;
    padding: 2em 1em;
    border-radius: 1em;
    font-size: 1em;
}
.features.gray.tbl .car-container .car-box .img {
    grid-row: 1 / span 2;
    width: fit-content;
    height: 100%;
}
.features.gray.tbl .car-container .car-box .heading {
    /* font-size: 1.2em; */
    font-weight: 500;
}

.features.gray.tbl .forced-edge {
    color: transparent;
    display: none;
}


@media screen and (max-width: 1024px) {
    table { font-size: 1em; }
    .features.gray.tbl table { margin: 0 var(--mainContainerPadding) }
    .features.gray.tbl .car-container {
        margin: 0 var(--mainContainerPadding);
        margin-bottom: 6em;
        font-size: 1em;
    }
    .features.gray.tbl .car-container .car-box {
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 2em;
    }
    .features.gray.tbl .car-container .car-box .img {
        width: 8em;
        height: 8em;
        font-size: 1em;
    }
    .features.gray.tbl .car-container .car-box .heading {
        margin-bottom: -0.5em;
        text-align: center;
    }
    .features.gray.tbl .car-container .car-box .body {
        text-align: center;
    }
}
@media screen and (max-width: 900px) {
    .features.gray.tbl .car-container {
        display: flex;
        margin: 0;
        margin-bottom: 6em;
        overflow: scroll;
        gap: 0;
    }
    .features.gray.tbl .forced-edge { display: block; }
    .features.gray.tbl .car-container .car-box {
        grid-template-columns: 1fr;
        gap: 2em;
        padding: 2em;
        width: max(60vw, 20em);
        max-width: max(60vw, 20em);
        min-width: max(60vw, 20em);
        margin-right: 2em;
        margin-left: 1em;
    }
    .features.gray.tbl .car-container .car-box:nth-last-child(2) {
        margin-left: 0;
        margin-right: 0.75em;
    }
}
@media screen and (max-width: 768px) {
    .features.gray.tbl table th,
    .features.gray.tbl table td {
        border-right: none; 
        border-left: none; 
    }
    .features.gray.tbl table td:nth-last-child(2) { border-bottom: 0.1em solid #7070705d;}
}

@media screen and (max-width: 425px) {
    table tr th,
    table tr td {
        padding: 1em;
    }
    .features.gray.tbl table tr th:nth-child(2),
    .features.gray.tbl table tr td:nth-child(2),
    .features.gray.tbl table tr th:nth-child(3),
    .features.gray.tbl table tr td:nth-child(3) {
        width: 5.25em;
        max-width: 5.25em;
        min-width: 5.25em;
        word-break: break-all;
    }
    .features.gray.tbl .car-container .car-box { gap: 1em; }
    .features.gray.tbl .car-container .car-box .heading {
        margin-bottom: -0.25em;
    }
}