.custom-carousel {
    width: 100%;
}
/* ================================================================================== Navigation */
.custom-carousel .navigation-container {
    display: flex;
    margin-bottom: 3em;
    align-items: center;
    color: black;
    font-weight: 500;
    position: relative;
    box-shadow: var(--shadow);
}
.custom-carousel .navigation-container.blue {
    background-color: var(--primaryColor);
    color: white;
    margin: 0 var(--mainContainerPadding);
    margin-bottom: 3em;
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
/* ------------------------------------------------------------------ Arrow */
.custom-carousel .navigation-container .arrow-btn {
    width: 2em;
    height: 2em;
    font-size: 1em;
    display: none;
    cursor: pointer;
    background-image: url("../images/design-icons/arrow-circle-red.svg");
}
.custom-carousel .navigation-container.blue .arrow-btn {
    width: 1.5em;
    height: 1.5em;
    background-image: url("../images/design-icons/arrow-white.svg");
}
.custom-carousel .navigation-container .arrow-btn.lhs { transform: rotate(90deg); }
.custom-carousel .navigation-container .arrow-btn.rhs { transform: rotate(-90deg); }
.custom-carousel .navigation-container.blue .arrow-btn.lhs { transform: rotate(0); }
.custom-carousel .navigation-container.blue .arrow-btn.rhs { transform: rotate(-180deg); }
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Disabled Arrow */
.custom-carousel .navigation-container .arrow-btn.disabled {
    opacity: 0.6;
}
/* ------------------------------------------------------------------ Tab Container */
.custom-carousel .navigation-container .tab-container {
    width: 100%;
    font-size: 1em;
    padding: 1.5em;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
/* ................................................. Tab */
.custom-carousel .navigation-container .tab-container .tab {
    min-width: fit-content;
    width: fit-content;
    max-width: fit-content;
    height: fit-content;

    min-width: -moz-fit-content;
    width: -moz-fit-content;
    max-width: -moz-fit-content;
    height: -moz-fit-content;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em 0 0 0;
    margin: 0 1em;
    border-bottom: 0.15em solid transparent;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++ Active Tab */
.custom-carousel .navigation-container .tab-container .tab.active {
    color: var(--accentColor);
    border-bottom: 0.15em solid var(--accentColor);
}
.custom-carousel .navigation-container.blue .tab-container .tab.active {
    color: white;
    border-bottom: 0.15em solid white;
}
/* ================================================================================== Content */
.custom-carousel .content-container {
    overflow: hidden;
    position: relative;
    margin: 0 var(--mainContainerPadding);
    font-size: 1em;
}
/* ------------------------------------------------------------------ Wrapper */
.custom-carousel .content-container .moving-wrapper {
    font-size: 1em;
    position: relative;
    left: 0;
    display: flex;
}
/* ................................................. Content */
.custom-carousel .content-container .moving-wrapper .content {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1300px) {
    .custom-carousel .navigation-container.blue {
        padding: 1.5em;
    }
    .custom-carousel .navigation-container.blue .arrow-btn {
        display: block;
    }
    .custom-carousel .navigation-container.blue .tab-container {
        width: calc(100% - 2em - 2em);
        justify-content: space-between;
        overflow: scroll;
        padding: 0;
        margin: 0 1em;
    }
}
@media screen and (max-width: 1024px) {
    .custom-carousel .navigation-container {
        padding: 0 calc(var(--mainContainerPadding) * 0.5);
    }
    .custom-carousel .navigation-container .arrow-btn {
        display: block;
    }
    .custom-carousel .navigation-container .tab-container {
        width: calc(100% - 2em - 2em);
        justify-content: space-between;
        overflow: scroll;
        padding: 1.5em 0;
        margin-right: 1em;
        margin-left: 1em;
    }
    .custom-carousel .navigation-container.blue {
        padding: 1.5em calc(var(--mainContainerPadding) * 0.5);
        width: 100%;
        margin: 0 0 2em 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}
@media screen and (max-width: 768px) {
    .custom-carousel .navigation-container,
    .custom-carousel .navigation-container.blue {
        margin-bottom: 0;
    }
}