.input-box .form-dropdown-container {
    background-color: #F8F8F8;
    /* overflow: hidden; */
    position: relative;
}
.input-box .form-dropdown-container .selectedOption {
    font-size: 1em;
    width: 100%;
    background-color: #F8F8F8;
    border: 0.1em solid #b3b3b3;
    border-radius: 0.25em;
    padding: 0.5em 0.75em;
    margin: 0;
    color: gray;
    height: 2.7em;
    display: grid;
    grid-template-columns: 1fr 1em;
    cursor: pointer;
}
.input-box .form-dropdown-container .selectedOption .img {
    width: 1em;
    height: 1em;
    font-size: 1em;
}
.input-box .form-dropdown-container .selectedOption .img img {
    width: 1em;
    height: fit-content;
}
.input-box .form-dropdown-container .form-dropdown {
    position: absolute;
    background-color: inherit;
    width: 100%;
    box-shadow: var(--shadow);
    overflow: hidden;
    transition: max-height 0.5s linear;
}
.input-box .form-dropdown-container .form-dropdown .form-dropdown-option {
    margin: 0.25em 0;
    padding: 0.25em 1em;
    cursor: pointer;
}
.input-box .form-dropdown-container .form-dropdown .form-dropdown-option:hover {
    background-color: gray;
    color: white;
}
