/* ================================================================================== 1 */
/* ------------------------------------------------------------------ 2 */
/* ................................................. 3 */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 4 */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Action */
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import "nav.css"; 
@import "footer.css"; 
@import "modal.css"; 

:root {
    /* Padding */
    --mainContainerPadding: 14vw;
    /* Colors */
    --primaryColor: #016C9B;
    --secondaryColor: #112E42;
    --accentColor: #FF4612;
    --blackColor: #000000;
    /* Ratio */
    --ratio: min(1em, 1.8vh);
    /* Animation */
    --animate-delay: 0.1s;
    /* Shadow */
    --shadow: 2px 2px 10px rgba(128, 128, 128, 0.37);
}
* { 
	transition: 0.25s ease; 
    outline: none;
    font-family: 'Poppins', sans-serif;
}
html { overflow-x: hidden !important}
body { 
	margin: 0;  
    overflow-x: hidden !important; 
}
a,a:hover, a:visited, a:link, a:active { 
	text-decoration: none; 
    padding: 0;
    color: var(--blackColor);
}
img {
	object-fit: contain; 
	max-width: 100%; 
    max-height: 100%;
    width: inherit;
    height: inherit;
	margin: 0; padding: 0;
}
.img-box img {
    object-fit: contain; 
	width: 100%; 
    height: 100%;
	margin: 0; padding: 0;
}





/* SECTION */
.section {
    padding: 0 var(--mainContainerPadding);
    font-size: var(--ratio);
    margin-bottom: 5em;
}
.section:nth-child(3) { margin-top: 5em;}

/* SECTION TITLE */
.section-title {
    font-size: 2.4em;
    line-height: 1.5em;
    font-weight: 600;
    text-align: left;
    width: 100%;
}
.section-title span { color: var(--accentColor); }

/* Hide scrollbar for Chrome, Safari and Opera */
body *::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body * {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* IMAGE */
.img-center {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* TEXT */
.heading {
    font-size: 1.8em;
    line-height: 1.3em;
    font-weight: 600;
    text-align: left;
    width: 100%;
}
.heading span { color: var(--accentColor);}
.body {
    font-size: 1em;
    text-align: left;
}

/* BUTTON */
button {
    background-color: var(--accentColor);
    color: white;
    font-weight: 500;
    font-size: 1em;
    text-transform: capitalize;
    padding: 0.45em 3em;
    border-radius: 2em;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1em;
    outline: none !important;
}
button.lg-btn {
    font-size: 1.2em;
    text-transform: uppercase;
}

/* ICON BOX */
.icon-box {
    font-size: 1em;
    display: flex;
    align-items: center;
}
.icon-box.withBorder {
    padding: 0.5em 0.75em;
    border: 0.1em solid rgb(151, 151, 151);
    border-radius: 0.4em;
}
.icon-box .icon {
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    margin-right: 1em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon-box .txt {
    font-size: 1em;
}
/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (min-width: 1700px) {
    :root {  --ratio: 1vw;  }
}
@media screen and (max-width: 1120px) {
    .section:nth-child(3) { margin-top: 4em; }
}
@media screen and (max-width: 1024px) {
    :root { --ratio: 0.95em; }
}
@media screen and (max-width: 768px) {
    :root {
        --ratio: max(1.9vw,0.8em);
        --mainContainerPadding: max(7.5vw,2em);
    }
}
@media screen and (max-width: 425px) {
    :root { --ratio: 0.8em; }
}
@media screen and (max-width: 375px) {
    :root { --mainContainerPadding: 1.5em; }
}


















/* @media only screen and (-webkit-max-device-pixel-ratio:0.99){
    body { background-color: pink;}
} 
  

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio:1.49) {
    body { background-color: blue;}
}
  

@media only screen and (-webkit-min-device-pixel-ratio:1.5){
    body { background-color: green;}
} */

