/* ================================================================================== Custom Navbar */
.custom-nav {
    padding: 1em;
    font-size: var(--ratio);
    background-color: var(--secondaryColor);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0.6em solid var(--accentColor);
    overflow: initial;
    flex-wrap: initial;
    position: fixed;
    width: 100%;
    z-index: 98;
}
.custom-nav.expand {
    max-height: 100em;
    transition: 1s linear;
}
.custom-nav.expand .nav-bar {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

/* ------------------------------------------------------------------ Logo */
.custom-nav .logo.after1024 {
    width: auto;
    height: 9em;
    top: 1em;
    left: 3em;
    position: absolute;
    font-size: 1em;
    z-index: 99;
    display: block;
}
.navlogo.after1024 {
    display: none;
    width: auto;
    height: 9em;
    top: 1em;
    left: 3em;
    position: fixed;
    font-size: 1em;
    z-index: 99;
}
.navlogo.after1024 img {
    position: absolute;
}
.navlogo.after1024 .title {
    visibility: hidden;
    width: 20em;
    color: white;
    font-weight: 600;
    position: absolute;
    left: -0.25em;
    font-size: 1.2em;
}
/* ------------------------------------------------------------------ Toggle Btn */
.custom-nav .nav-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    width: 1.5em;
    height: 16px;
    margin-top: 0.8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.custom-nav .nav-toggle .line {
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
}
/* As Burger Icon */
.custom-nav .nav-toggle .line:nth-child(1) { top: 0}
.custom-nav .nav-toggle .line:nth-child(2) { top: 50%}
.custom-nav .nav-toggle .line:nth-child(3) { top: 50%}
.custom-nav .nav-toggle .line:nth-child(4) { top: 100%;}
/* As Cross */
.custom-nav .nav-toggle.cross .line:nth-child(1) { top: 50%; width: 0;}
.custom-nav .nav-toggle.cross .line:nth-child(2) { top: 50%; transform: rotate(-45deg);}
.custom-nav .nav-toggle.cross .line:nth-child(3) { top: 50%; transform: rotate(45deg);}
.custom-nav .nav-toggle.cross .line:nth-child(4) { top: 50%; width: 0;}
/* ------------------------------------------------------------------ Navbar */
.custom-nav .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    padding: 0.25em 0;
    position: relative;
}
/* ................................................. Slider */
.custom-nav .nav-bar .slider {
    position: absolute;
    border-bottom: 2px solid white;
    font-size: 1em;
    height: 0;
    display: none;
}
/* ................................................. Links */
.custom-nav .nav-bar .nav-links {
    padding: 0.25em 0;
    margin: 0 2em;
    text-align: left;
    color: white;
    cursor: pointer;
    width: fit-content;
    font-size: 1em;
    position: relative;
}
.custom-nav .nav-bar .nav-links.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid white;
    font-size: 1em;
    width: 100%;
    height: 2px;
}
.custom-nav .nav-bar .nav-links.showPhoneAfter1024 {
    display: none;
}
.custom-nav .nav-bar .nav-links.showPhoneAfter1024 img {
    margin-right: 1em;
}
/* ------------------------------------------------------------------ Sub Navbar */
.nav-links.dropdown-nav-link {
    font-size: 1em;
}
.nav-links.dropdown-nav-link .dropdown-nav-btn {
    font-size: 1em;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu {
    height: fit-content;
    width: 36em;
    position: absolute;
    left: -50%;
    top: calc(100% + 0.3em);
    color: black;
    font-size: 1em;
    overflow: hidden;
    max-height: 0;
    display: flex;
    flex-direction: column;
    transition: max-height 1s linear;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu .triangle {
    width: 0;
	height: 0;
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid transparent;
    border-bottom: 1em solid white;
    position: relative;
    left: 10%;
    z-index: 100;
    font-size: 1em;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu .links-container {
    position: relative;
    height: fit-content;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
    box-shadow: var(--shadow);
    padding: 1em;
    font-size: 1em;
    margin: 1em;
    margin-top: 0;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu .links-container .link {
    display: flex;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 0.5em;
    font-size: 1em;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu .links-container .link .icon {
    width: 1.5em;
    height: fit-content;
    font-size: 1em;
    margin-right: 1em;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu .links-container .link .icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-links.dropdown-nav-link .dropdown-nav-menu .links-container .link .text {
    height: fit-content;
    width: fit-content;
    font-size: 1em;
}

/* ------------------------------------------------------------------ Phone Icon */
.custom-nav .phone {
    width: 1.5em;
    height: calc(4em - 0.6em);
    cursor: pointer;
    display: none;
    position: relative;
    color: white;
    margin-bottom: 0.8em;
}
.custom-nav .phone img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
}
.custom-nav .phone div {
    display: inline-block;
    position: absolute;
    top: calc(4em - 0.6em + 10px);
    right: 0.25em;
    width: fit-content;
    white-space: pre;
    padding: 0.5em 1em;
    border-radius: 0.25em;
    background-color: var(--secondaryColor);
    border-top-right-radius: 0.5px;
    visibility: hidden;
}
.custom-nav .phone:hover div {
    visibility: visible;
}
.custom-nav .phone div::after {
    content: " ";
    position: absolute;
    bottom: 99%;  
    right: 0.5px;
    margin-left: -5px;
    width: 0;
	height: 0;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	border-bottom: 0.6em solid var(--secondaryColor);
}

/* ========================================================================================== */
/*                                            Screens                                         */
/* ========================================================================================== */
@media screen and (max-width: 1322px) {
    .custom-nav .nav-bar .nav-links { margin: 0 1em; }
    .custom-nav .logo { left: 1em; }
}
@media screen and (max-width: 1100px) {
    .custom-nav { font-size: 0.9em; }
    .custom-nav.custom-nav.second { margin-top: 4em;}
}
@media screen and (max-width: 1024px){
    .custom-nav {
        font-size: var(--ratio);
        flex-wrap: wrap;
        padding: 0 1em;
        max-height: 4em;
        justify-content: space-between;
        overflow: hidden;
    }
    .navlogo.after1024 .title {
        visibility: visible;
    }
    .navlogo.after1024 {
        display: block;
        width: 5.5em;
        height: 6em;
        left: calc(50% - 2.25em);
    }
    .custom-nav .logo.after1024 {
        display: none;
    }
    .custom-nav .phone { display: block; }
    .custom-nav .nav-toggle { display: flex; align-self: flex-start;}
    .custom-nav .nav-bar {
        width: 100%;
        flex-wrap: wrap;
        padding: 4em 0 1em 1em;
        margin-top: 1.5em;
        opacity: 0;
        visibility: hidden;
    } 
    .custom-nav.second .nav-bar { padding: 0;}
    .custom-nav .nav-bar > a {
        width: 100%;
        margin: 0.25em 0;
    }
    
    .custom-nav .nav-bar .nav-links { white-space: nowrap; width: 100% !important;}
    .custom-nav .nav-bar .nav-links:nth-child(2) {  margin-top: 0.5em;}
    .custom-nav .nav-bar .nav-links .after1100 { display: none }
    .custom-nav .nav-bar .nav-links.showPhoneAfter1024 {
        display: initial;
        width: 100%;
    }
    .nav-links.dropdown-nav-link .dropdown-nav-menu {
        height: fit-content;
        width: 30em;
        position: relative;
        left: 0;
        top: 0.5em;
        font-size: 1em;
        overflow: hidden;
        max-height: 0;
        display: flex;
        flex-direction: column;
        transition: max-height 1s linear;
    }
    .nav-links.dropdown-nav-link .dropdown-nav-menu .triangle {
        display: none;
    }
    .nav-links.dropdown-nav-link .dropdown-nav-menu .links-container {
        grid-template-columns: 1fr;
        /* background-color: transparent; */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        box-shadow: none;
        /* color: white; */
    }
    .nav-links.dropdown-nav-link .dropdown-nav-menu .links-container .link {
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100%;
        margin: 0.5em;
        font-size: 1em;
        /* background-color: white; */
        /* padding: 0.5em 1em; */
    }
    .custom-nav .nav-bar .nav-links.active::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: 2px solid white;
        font-size: 1em;
        width: 50px;
        height: 2px;
    }
}

@media screen and (max-width: 568px) {
    .navlogo.after1024 .title {
        width: 20em;
        color: white;
        font-weight: 600;
        position: absolute;
        left: -0.8em;
        font-size: 1.2em;
        top: -0.3em;
    }
}
@media screen and (max-width: 425px) {
    .nav-links.dropdown-nav-link {
        padding-left: 1em !important;
    }
}