.packages-box .checks-container {
    height: fit-content;
}
.packages-box .checks-container .dropdown-arrow-btn {
    width: 2em;
    height: 2em;
    position: absolute;
    left: calc(50% - 1em);
    bottom: -1em;
    cursor: pointer;
    background-image: url("../../../assets/images/design-icons/arrow-circle-red.svg");
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(0deg);
    transition: 0.5s;
}
.packages-box .checks-container .dropdown-arrow-btn.up {
    transform: rotate(180deg);
}
.packages-box .checks-container .dropdown-arrow-btn.up ~ .dropdown-content {
    max-height: 150em;
    transition: max-height 1s linear;
}
.packages-box .checks-container .dropdown-content {
    font-size: 1em;
    width: 100%;
    background-color: #F5F5F5;
    max-height: 0;
    transition: max-height 1s linear;
    overflow: hidden;
}
.packages-box .checks-container .dropdown-content.custom-carousel {
    height: fit-content;
    padding-right: max(2vw, 0.75em);
    padding-left: max(2vw, 0.75em);
}
.packages-box .checks-container .dropdown-content.custom-carousel .navigation-container {
    box-shadow: none;
    padding: 0;
    border-bottom: 0.075em solid #8a8a8a52;
    border-top: 0.075em solid #8a8a8a52;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 2.5em 0 1.25em 0;
}
.packages-box .checks-container .dropdown-content.custom-carousel .navigation-container .tab-container {
    justify-content: start;
    padding: 0;
}
.packages-box .checks-container .dropdown-content.custom-carousel .navigation-container .tab-container .tab {
    margin-right: 4em;
}
.packages-box .checks-container .dropdown-content.custom-carousel .navigation-container .tab-container .tab:last-child {
    margin-right: 0;
}
.packages-box .checks-container .dropdown-content.custom-carousel .content-container {
    padding: 0;
    margin: 0;
    margin-bottom: max(2vw, 0.75em);
}

@media screen and (max-width: 500px) {
    .packages-box .checks-container .dropdown-content.custom-carousel .navigation-container .tab-container .tab {
        margin-right: 1em;
    }
}